:root {
  --bgColor: #161c23;
  --txtColor: #b38b52;
  --pColor: #7fc3d1;
  --font: "Source Code Pro", monospace;
  --lineColor: #593e1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.part-1 {
  background-image: url(imgs/cupofcoffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav-bar {
  background: #2b343d3b;
  height: 8vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding-top: 15px;
  padding-left: 40%;
  letter-spacing: 1px;
}

.nav-1 {
  color: #b38b52;
  font-weight: bolder;
}

.text-1 {
  color: var(--txtColor);
  font-size: 34px;
  font-weight: 200;
  margin: 18vh 0 4vh 5vh;
}

.text-2 {
  color: var(--pColor);
  font-size: 34px;
  font-weight: 200;
  margin-left: 18vh;
}

.text-3 {
  color: #fff;
  float: right;
  margin-right: 15vh;
  font-size: 24px;
  line-height: 20px;
  font-style: normal;
  font-weight: 200;
  font-family: var(--font);
}

.part-2 {
  background: var(--bgColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
}

#text-5 {
  color: var(--txtColor);
  font-size: 32px;
  font-weight: 300;
  margin-left: 18vh;
  padding-top: 4vh;
}

.text-6 {
  color: #fff;
  margin-left: 18vh;
  margin-top: 3vh;
  font-size: 16px;
  font-weight: 200;
}

.pass-img {
  float: right;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 8vh 30vh;
}

.btn {
  display: flex;
  flex-direction: row;
}

.btn-1 {
  background: var(--txtColor);
  color: #fff;
  border: none;
  border-radius: 31px;
  width: 105px;
  height: 40px;
  margin: 3vh 3vh 0 18vh;
  font-size: 18px;
  font-weight: 400;
}

.btn-2 {
  background: var(--pColor);
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 31px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 3vh;
}

.inner {
  background: var(--bgColor);
  border: none;
  color: #fff;
  border-radius: 31px;
  height: 34px;
  width: 104px;
  margin: 3px;
}

.part-3 {
  background: var(--bgColor);
  height: 100vh;
}

#text-7 {
  color: var(--txtColor);
  font-size: 32px;
  font-weight: 300;
  margin-left: 18vh;
}

.imgs-p {
  height: 200px;
  width: 250px;
  border-radius: 10px;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3vh 3vh 0 18vh;
  color: #fff;
}

.text-8 {
  font-size: 32px;
  font-weight: 100;
  margin: 3vh 0 3vh 0;
}

.section-1 p {
  width: 60%;
  text-align: center;
}

.part-4 {
  background: var(--bgColor);
}

#text-9 {
  color: var(--txtColor);
  font-size: 32px;
  font-weight: 300;
  margin-left: 18vh;
}

.imgs-l {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 18vh;
}

.imgs-l img {
  height: 300px;
  width: 400px;
  margin: 3vh;
  border-radius: 10px;
}

.part-5 {
  background: var(--bgColor);
  height: 70vh;
  padding: 5vh 0 5vh 0;
}
.text-10 {
  color: var(--txtColor);
  font-size: 32px;
  font-weight: 300;
  margin-left: 18vh;
}
.form-1 {
  color: #FFF;
  margin: 5vh 0 5vh 18vh;
  background: rgb(27, 27, 71);
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.form-1 p, input{
  margin: 2vh;
  font-weight: 400;
  text-align: center;
}

.form-1 button {
  border: none;
  
}

.form-1 input {
  background: var(--pColor);
  height: 25px;
  border: none;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
}

#input-eml, #input-txt {
  text-align: center;
  

}

.footer {
  background: #161c23f7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3vh 28vh 3vh 18vh;
  font-size: 16px;
  font-weight: 300;
}

.contact {
  color: var(--txtColor);
}

.copywright {
  text-align: end;
}

.social-icons {
  display: flex;
  margin: 10px;
}

.social-icons img {
  height: 40px;
  width: 50px;
  padding-left: 10px;
}