:root {
    --bgcolor: #2b343d3b;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: #FFF;
    
}

.part-1 {
    background: url(imgs/img-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0px;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    font-size: 18px;
    background: var(--bgcolor);
    background-blend-mode: lighten;
    color: white;
}

.nav-link {
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: center;
}

.nav-1 {
    color: #B38B52;
}

.nav-links {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    margin: 0;
    height: 25px;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.text-1 {
   
    left: 20vh;
    top: 216px;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 56px;
    color: #B38B52;
}

.text-2 {
    position: absolute;
    width: 334px;
    height: 46px;
    left: 143px;
    top: 296px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #7FC3D1;
}

.text-3 {
    position: absolute;
    width: 307px;
    height: 37px;
    left: 1040px;
    top: 262px;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

.part-2 {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 700px;
    background: #161C23;
    /*transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    left: 143px;
    line-height: 56px;
    color: #B38B52;
}

.text-5 {
    position: absolute;
    width: 208px;
    height: 64px;
    left: 143px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #B38B52;
}

.text-6 {
    position: absolute;
    width: 522px;
    height: 231px;
    left: 143px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}

.pass-img {
    position: absolute;
    width: 451px;
    height: 437px;
    left: 70%;
    top: 60px;
    background: url(imgs/passport.jpg);
    box-shadow: inset 10px 10px 20px rgba(179, 139, 82, 0.4);
    border-radius: 50%;
}

.btn {
    position: absolute;
    top: 400px;
    width: 160px;
    height: 68px;
    left: 143px;
    background: #B38B52;
    border-radius: 31px;
}

.btn-1 {
    position: absolute;
    width: 156px;
    height: 31px;
    left: 4px;
    top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    background: #B38B52;
    border: none;
    border-radius: 31px;
}

.line-2 {
    position: absolute;
    width: 114px;
    height: 0.1px;
    left: 143px;
    top: 110px;
    border: 3px solid #593E1F;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn2 {
    position: absolute;
    width: 166px;
    height: 76px;
    left: 385px;
    top: 400px;
    background: #7FC3D1;
    border-radius: 38px;
}

.btn-2 {
    position: absolute;
    width: 156px;
    height: 68px;
    left: 5px;
    top: 4px;
    background: #161C23;
    border-radius: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.part-3 {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 1300px;
    background: #161C23;
}

.text-7 {
    position: absolute;
    width: 181px;
    height: 56px;
    left: 143px;
}

.svgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    height: 10px;
    width: 10px;
}